.contact-section {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.contact-section--form {
  max-width: 30rem;
  margin: auto;
  margin-top: 5vh;
}

.contact-section--form--button {
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  margin-top: 2vh;
}