.home--hero {
  min-height: 98vh;
  position: relative;
  z-index: 0;
  margin-bottom: 3vh;

  margin-top: - $header-height;

  @include for-big-desktop-up { margin-bottom: 5vh; }


  @include for-tablet-portrait-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include for-tablet-portrait-down {
    display: flex;
    justify-content: stretch;
  }
}

.home--hero--content {
  position: relative;
  background: $color-brand;
  background: $gradient-brand;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;

  @include for-tablet-portrait-up {
    border-bottom-right-radius: $border-radius-lg;
  }

  @include for-tablet-portrait-down {
    text-align: center;
  }
}

.home--hero--content-wrap {
  max-width: 60rem;
  padding: 3vw;

  @include for-desktop-up {
    padding-left: 6vw;
  }
}

.hero-back {
  position: absolute;
 //width:  1em;
  height: 100%;
  top: 0;
  left: 0;
  margin: auto;
}
.hero-button {
  margin-top: 4vh;
}

