/* font-family: "LatoRegular"; */
@font-face {
  font-family: "Lato";
  src: url("../../fonts/lato/LatoRegular/LatoRegular.eot");
  src: url("../../fonts/lato/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/lato/LatoRegular/LatoRegular.woff") format("woff"),
  url("../../fonts/lato/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "LatoBold"; */
@font-face {
  font-family: "Lato";
  src: url("../../fonts/lato/LatoBold/LatoBold.eot");
  src: url("../../fonts/lato/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/lato/LatoBold/LatoBold.woff") format("woff"),
  url("../../fonts/lato/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
/* font-family: "LatoItalic"; */
@font-face {
  font-family: "Lato";
  src: url("../../fonts/lato/LatoItalic/LatoItalic.eot");
  src: url("../../fonts/lato/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/lato/LatoItalic/LatoItalic.woff") format("woff"),
  url("../../fonts/lato/LatoItalic/LatoItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
/* font-family: "LatoLight"; */
@font-face {
  font-family: "Lato";
  src: url("../../fonts/lato/LatoLight/LatoLight.eot");
  src: url("../../fonts/lato/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/lato/LatoLight/LatoLight.woff") format("woff"),
  url("../../fonts/lato/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
/* font-family: "LatoBoldItalic"; */
@font-face {
  font-family: "Lato";
  src: url("../../fonts/lato/LatoBoldItalic/LatoBoldItalic.eot");
  src: url("../../fonts/lato/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/lato/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
  url("../../fonts/lato/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
}
/* font-family: "LatoLightItalic"; */
@font-face {
  font-family: "Lato";
  src: url("../../fonts/lato/LatoLightItalic/LatoLightItalic.eot");
  src: url("../../fonts/lato/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/lato/LatoLightItalic/LatoLightItalic.woff") format("woff"),
  url("../../fonts/lato/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}
